// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// Custom
@import "custom";

@import "~bootstrap/scss/bootstrap-utilities";

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Display:ital,wght@0,200;0,300;1,100;1,200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Display:ital,wght@0,200;0,300;1,100;1,200&family=Noto+Serif&display=swap');

//Generate utilites for Cursor
$utilities: map-merge(
  $utilities,
  (
    "cursor": (
      property: cursor,
      values: auto default pointer wait text move help not-allowed
    ),
  )
);

.nav-link {
  color: #fff !important;
}

body {
  font-family: 'Noto Sans Display';
  font-weight: 400;
}

.invalid-feedback {
  display: block;
}
