// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// Custom
@import "custom";

@import "~bootstrap/scss/bootstrap-utilities";

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap');

//Generate utilites for Cursor
$utilities: map-merge(
  $utilities,
  (
    "cursor": (
      property: cursor,
      values: auto default pointer wait text move help not-allowed
    ),
  )
);

.navbar-expand-md .nav-link {
  color: #ffffff80 !important;
}

.active-link, .dropdown a {
  color: #fff !important;
}

body {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
}

.invalid-feedback {
  display: block;
}
